body {
  margin: 0px;
  background-color: rgb(255, 255, 255);

}

.taxt-in {
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  margin-right: 0px;

}
.taste{
  color:orange; ;
}


.navbar ul {
  list-style-type: none;
  background-color: orange;
  padding: 0px;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  overflow: hidden;
  align-items: right;
  margin-top: 20px;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  justify-items: space-evenly;
}

.navbar a:hover {
  background-color: rgb(255, 136, 0);
  transition: 0.3s;
}

.navbar li {
  float: right;
}

.spin {
  font-size: 10px;
  color: black;
}

.but {

  margin-top: 13px;
  height: 20px;
  width: 100px;
  text-align: left;
}

.photo {
  float: right;
  margin-top: -150px;
  margin-right: 20px;
  height: 700px;
  width: 700px;
  border-radius: 30px;

}

main {
  margin: 30px;
}

.helo {
  margin-top: 0px;
  font-size: 15px;
  color: rgb(255, 86, 86);
  padding: 0px;
}

.we {
  font-size: 15px;
  padding-top: 0px;

}

.food {
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 150px;
}

.for {
  color: rgb(15, 14, 14);
  font-size: 80px;
}

.dot {
  font-size: 110px;
  color: orange;
}

.go {
  font-size: 20px;
  font-family:inherit;

}

.login {

  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 100px;
  border: 10px;
  border-color: black;
  border-radius: 30px;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;

}

.login:hover {
  background-color: rgb(0, 149, 255);
}

.login:active {
  background-color: rgb(0, 136, 255);
}


.menu:hover {
  background-color: rgb(154, 220, 241);
}

.menu:active {
  background-color: aliceblue;
}

.search {
   margin-top: 12px;
    border-radius: 5px;
    border: none;
    height: 20px;
    outline: none;
    padding: 12px;
    color: black;
    font-weight: bolder;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.card-cotainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-right: 10px;
  margin-left: 50px;


}

.card1 {
  width: 325px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px;
  margin: 20px;


}

.card1:hover {
  border: orange;
 box-shadow: 2px 2px 10px;
 cursor: pointer;
}
.card2:hover {
  border: orange;
 box-shadow: 2px 2px 10px;
 cursor: pointer;
}
.card3:hover {
  border: orange;
 box-shadow: 2px 2px 10px;
 cursor: pointer;
}
.card1 img {
  width: 100%;
  height: 240px
}

.card1 content {
  padding: 16px;
  text-align: center;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.card-content p {
  color: rgb(163, 164, 164);
  font-size: 15px;
  line-height: 1.3;
  text-align:justify;
  margin: 20px;
}


.card2 {
  width: 325px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px;
  margin: 20px;
  align-items: center;

}

.card2 img {
  width: 100%;
  height: 240px;
  ;
}

.card2 content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  text-align: center;
}

.card-content p {
  color: rgb(163, 164, 164);
  font-size: 15px;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color:orange;
  border-radius: 4px;
  margin: 16px;
  color: aliceblue;
  width: 1050px;
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  border: orange;

}

.card3 {
  width: 325px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px;
  margin: 20px;

}

.card3 img {
  width: 100%;
  height: 240px;
}

.card3 content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.card-content p {
  color: rgb(163, 164, 164);
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: orange;
  border-radius: 4px;
  margin: 16px;
  color: aliceblue;
  width: 150px;
  text-align: center;
  justify-content: center;
}

.row {
  display: flex;
  column-gap: 150px;
  align-items: center;
  padding-left: 150px;
}

.null {
  height: 50px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-color: orange;
  border-width: 1px;
  border-radius: 5px;
  color: orange;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  margin-top: 70px;
  margin-bottom:10px
}

.null:hover {
  background-color: orange;
  color: rgb(255, 255, 255);
  width: 370px;
  margin-left: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.null:active {
  background-color: rgb(0, 0, 0);
}

.hulk {
  background-color: rgb(185, 255, 255);
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 8px;
}

.taste {
  color: orange;
}

.img-ame img {
  height: 500px;
  width: 100%;
  margin-left: 0px;
  display: block;
  padding: auto;
  background-color: rgb(167, 167, 167);


}

.men {
  
  height: 50px;
  width: 1680px;
  background-color: white;
  border-color: rgb(245, 132, 3);
  border-radius: 8px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color:black;
}

.men:hover {
  background-color: orange;
  color:white;
  height: 51px;
  width: 1681px;
  transition: 0.8s;
  cursor: pointer;
  
}

.img-ime {
  position: relative;
}

.banner {
  position: absolute;
  top: 1700px;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  margin-left: 80px;

}

.taxt-out {
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100px;
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  margin-right: 0px;

}

.bent {
  background-color: rgb(255, 108, 108);
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 200px;
  margin-top: 100px;
  margin-left: 180px;
  margin-right: 180px;
  padding-top: 30px;
  padding-right: 30px;
  border-radius: 30px;
}

.bent h2 {
  margin-top: 20px;
  margin-left: 30px;
}

.noy {
  font-size: 50px;

}

.hype {
  margin-top: -1500px;
  margin-left: 1100px;
  height: 50px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(254, 252, 192);
  border-width: 1px;
  border-radius: 8px;
  color:orange;
  font-size: 30px;

}

.hype:hover {
  background-color:orange;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.joke {

  display: flex;
  column-gap: 300px;
  margin-top: 80px;
  margin-bottom: 100px;
  background-color: antiquewhite;

}

.joke h2 {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 70px;
  margin-top: 30px;

}

.sort {
  background-color: rgb(245, 163, 57);
}

.joke p {
  margin-top: 40px;
  font-size: 20px;
  color: black;
  margin-left: 55px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer {
    background: #ffdaaa;
    padding: 40px 0;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-column {
    flex: 1;
}

.footer-column h2 {
    margin-bottom: 15px;
    font-size: 22px;
}

.footer-column a {
    display: block;
    margin: 5px 0;
    color: #111;
    text-decoration: none;
    font-size: 16px;
}

.footer-column a:hover {
    text-decoration: underline;
}
.discount-bar {
    background-color: #ffcc00;
    color: #000;
    padding: 8px 0;
    font-weight: 600;
    font-size: 18px;
}
button{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid orange;
    padding: 10px;
    background-color: rgb(250, 249, 248);
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
}